* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 62.5%;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.7;
  font-family: 'Indie Flower', cursive;
}

.header {
  background: -webkit-gradient(linear, left bottom, right top, from(#25003de0), to(#1e004ebb)), url("../pic/bg.gif");
  background: linear-gradient(to right top, #25003de0, #1e004ebb), url("../pic/bg.gif");
  background-repeat: repeat;
  background-position: top;
  background-size: auto;
  position: relative;
  min-height: 100vh;
}

/*
.logo-box{
    position: fixed;
    right: 30px;
    bottom : 30px;
}
.logo{
    width: 40px;
}*/
.text-box {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
}

.name {
  font-weight: 500;
  font-size: 4rem;
  display: block;
  margin-bottom: 0px;
  letter-spacing: 6px;
  text-align: center;
  -webkit-animation-name: moveInBottom;
          animation-name: moveInBottom;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
}

.desc {
  text-align: center;
  font-size: 60%;
  font-weight: 100;
  display: block;
  letter-spacing: 4px;
  -webkit-animation-name: moveInBottom;
          animation-name: moveInBottom;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  60% {
    opacity: 0.5;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  60% {
    opacity: 0.5;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  60% {
    opacity: 0.5;
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  60% {
    opacity: 0.5;
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveInTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50px);
            transform: translate(-50px);
  }
}

@keyframes moveInTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50px);
            transform: translate(-50px);
  }
}

@-webkit-keyframes fade {
  0% {
    background: rgba(0, 0, 0, 0.74);
  }
  100% {
    background: rgba(0, 0, 0, 0.116);
  }
}

@keyframes fade {
  0% {
    background: rgba(0, 0, 0, 0.74);
  }
  100% {
    background: rgba(0, 0, 0, 0.116);
  }
}

.btn,
.btn:link,
.btn:visited {
  display: none;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 30px;
  display: inline-block;
  border: 3px solid #8400ff;
  border-radius: 20px;
  -webkit-transition: all .2s;
  transition: all .2s;
  position: relative;
  background-color: rgba(236, 236, 236, 0);
  margin-top: 30px;
  -webkit-animation: moveInBottom;
          animation: moveInBottom;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.btn:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  background-color: #8400ff;
}

.btn:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

.btn-animated {
  -webkit-animation: moveInBottom;
          animation: moveInBottom;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.social-media {
  margin-top: 1rem;
  margin-left: -1rem;
  font-size: 3rem;
  -webkit-animation-name: moveInBottom;
          animation-name: moveInBottom;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
  -webkit-animation-delay: .7s;
          animation-delay: .7s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.media-logo {
  display: inline-block;
  font-size: 1.2rem;
  margin-left: 1rem;
}

.fa {
  font-size: 90% !important;
  -webkit-transition: all .3s;
  transition: all .3s;
  color: #d8d8d8;
}

.fa-github:hover {
  color: #979797;
}

.fa-stack-overflow:hover {
  color: #ffa600;
}

.fa-linkedin:hover {
  color: #0084ff;
}

.fa-instagram:hover {
  color: #c203b2;
}

@media only screen and (max-width: 800px) {
  body {
    font-size: 1.3rem;
  }
  .name {
    font-size: 1.6rem;
  }
  .desc {
    margin-top: 1rem;
    font-size: 1.2rem;
  }
  .header {
    height: 100vh;
  }
  .social-media {
    font-size: 2rem;
  }
  .btn {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 1500px) {
  body {
    font-size: 30px;
  }
  .social-media {
    font-size: 4rem;
  }
}

hr {
  border: 0 solid #dfdfdfe1;
  border-top-width: 1px;
  height: 0;
  margin: 30px auto;
  clear: both;
  display: block;
  width: 100px;
  position: relative;
  -webkit-animation-name: moveInBottom;
          animation-name: moveInBottom;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}
/*# sourceMappingURL=style.css.map */