* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.7;
  padding: 30px;
  font-family: 'Indie Flower', cursive;
}

.header {
  background: -webkit-gradient(linear, left bottom, right top, from(#0070f9a9), to(#00fcfc7a)), url("../pic/5195ebb8c5f9772deda82aa2937134d3.jpg");
  background: linear-gradient(to right top, #0070f9a9, #00fcfc7a), url("../pic/5195ebb8c5f9772deda82aa2937134d3.jpg");
  background-size: cover;
  background-position: top;
  height: 90vh;
  position: relative;
}

.logo-box {
  position: fixed;
  right: 30px;
  bottom: 30px;
}

.logo {
  width: 50px;
}

.text-box {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
}

.name {
  display: block;
  margin-bottom: 0px;
  letter-spacing: 6px;
  text-align: center;
  -webkit-animation-name: moveInLeft;
          animation-name: moveInLeft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.desc {
  text-align: center;
  font-size: 70%;
  display: block;
  letter-spacing: 4px;
  -webkit-animation-name: moveInRight;
          animation-name: moveInRight;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  60% {
    opacity: 0.5;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  60% {
    opacity: 0.5;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  60% {
    opacity: 0.5;
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  60% {
    opacity: 0.5;
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  -webkit-transition: all .2s;
  transition: all .2s;
  position: relative;
  background-color: #ececec;
  margin-top: 30px;
}

.btn:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  background-color: #dadada;
}

.btn:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

.btn-animated {
  -webkit-animation: moveInBottom;
          animation: moveInBottom;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.social-media {
  margin-top: 1rem;
  margin-left: -1rem;
  font-size: 3rem;
  -webkit-animation-name: moveInBottom;
          animation-name: moveInBottom;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
}

.media-logo {
  display: inline-block;
  font-size: 1.2rem;
  margin-left: 1rem;
}

.media-logo-linkedin {
  color: #fff;
}

.fa {
  -webkit-transition: all .3s;
  transition: all .3s;
  color: #d8d8d8;
}

.fa-github:hover {
  color: #979797;
}

.fa-stack-overflow:hover {
  color: #ffa600;
}

.fa-linkedin:hover {
  color: #0051ff;
}

.fa-instagram:hover {
  color: #c203b2;
}

@media only screen and (max-width: 800px) {
  body {
    font-size: 13px;
    padding: 0 !important;
  }
  .social-media {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 1500px) {
  body {
    font-size: 30px;
  }
  .social-media {
    font-size: 4rem;
  }
}
/*# sourceMappingURL=style.css.map */